*{
  margin:0;
  padding:0
}

main {
  position: relative;
}

#header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 99;
  background: #c5c5c588;
}

#header nav{
  /* border: solid 2px red; */
}

#header nav ul{
  display: flex;
  gap: 10px;
  /* border: solid 2px blue; */
  margin-right: 20px;
}

#header nav ul li{
  /* list-style-type: none; */
  list-style: none;
}

#header-logo{
  max-width: 130px;
  margin: 9px 16px;
}

#hero {
  position: relative;
  height: 100vh;
  /* border: solid 1px red; */
  background: url("../img/bg/fashion-bg-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.judul-hero {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 30px;
  text-align: center;
  color: #ffffff;  
  text-align: center;
  text-shadow: 0 0 3px black;
  /* border: solid 1px blue; */
}

.img-hero{
  max-height: 85vh;
  max-width: 100vw;
  opacity: 75%;
}

.blok-img-hero{
  position: absolute;
  overflow: hidden;
  bottom: 0;
  right: 0;
  /* border: solid 1px red; */
}

/* ============================================ */
/* RULE UNTUK SECTION */
/* ============================================ */
.section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}

.section-bg {
  background-color: #f0f9ff;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: #222222;
}